<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="../../public/brand.png">
    <title>Magus</title>
</head>
<body>
<div id="magus-app"></div>
<script>
    window.MAGUS_CONFIG = <%- JSON.stringify(config) %>
</script>
<script src="./dist.js"></script>
</body>
</html>